services:
  nginx:
    image: nginx:latest
    container_name: nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/conf:/etc/nginx/conf.d
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
      - nginx-logs:/var/log/nginx
    depends_on:
      - gateway
    networks:
      - gateway_default
      - gateway_internal
    restart: unless-stopped

  certbot:
    image: certbot/certbot:latest
    container_name: certbot
    volumes:
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
      - ./certbot/logs:/var/log/letsencrypt
      - nginx-logs:/var/log/nginx
    depends_on:
      - nginx
    networks:
      - gateway_default
    entrypoint: "/bin/sh"
    command: >
      -c "trap exit TERM; 
      while :; do 
        certbot renew --quiet || echo 'Renewal failed, will retry in 12h'; 
        sleep 12h & wait $$!; 
      done"
    restart: unless-stopped

  gateway:
    image: ghcr.io/astral-sh/uv:python3.9-alpine
    container_name: gateway
    working_dir: /workspace
    volumes:
      - .:/workspace
    ports:
      - "127.0.0.1:8000:8000"
    command: >
      sh -c "uv sync && uv run --directory app uvicorn main:app --host 0.0.0.0 --port 8000"
    networks:
      - gateway_internal
    restart: unless-stopped

  fail2ban:
    image: crazymax/fail2ban:latest
    container_name: fail2ban
    network_mode: "host"
    cap_add:
      - NET_ADMIN
      - NET_RAW
    volumes:
      - ./fail2ban/jail.d:/data/jail.d:ro
      - ./fail2ban/data/filter.d:/data/filter.d:ro
      - nginx-logs:/var/log/nginx:ro
      - fail2ban-data:/data
    environment:
      - TZ=Asia/Taipei
      - F2B_LOG_LEVEL=INFO
      - F2B_DB_PURGE_AGE=1d
      - F2B_IPTABLES_CHAIN=INPUT
    depends_on:
      - nginx
    restart: unless-stopped

volumes:
  certbot_conf:
  certbot_www:
  nginx-logs:
  fail2ban-data:

networks:
  gateway_default:
    driver: bridge

  gateway_internal:
    driver: bridge
    external: true